html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  position: relative;
}

.node {
  width: 60px; height: 60px;
  border-radius: 50%;
  background-color: red;
  margin: 20px;
  position: absolute;
  z-index: 100;
}

.edge {
  width: 400px;
  height: 2px;
  background-color: red;
  position: absolute;
}

.path {
  background-color: blue;
}

#node-A { top: 20%; left: 40% }
#node-B { top: 20%; left: 80%; }
#node-C { top: 70%; left: 40%; }
#node-D { top: 70%; left: 80%; }
#node-E { top: 500px; left: 50px; }
#node-F { top: 600px; left: 50px; }

#edge-A-B { top: 25%; left: 45%; transform: rotate(0); }
#edge-A-C { top: 50%; left: 26%; transform: rotate(90deg); }

#edge-B-D { top: 50%; left: 26%; transform: rotate(10deg); }

#edge-C-D { top: 76%; left: 45%; transform: rotate(0deg); }
#edge-D-C { top: 50%; left: 66%; transform: rotate(90deg); }

